* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* this is for the header section as a whole*/
/* header {

} */

.mainHeader {
  display: flex;
  flex-wrap: wrap;
  top: 0;
  border: 5px;
  border-bottom: 10c;
  border-color: black;
  justify-content: space-between;
  padding: 20;
  width: 100%;
  border-bottom: 5cm;
  border-color: black;
}

#headshot {
  height: 10%;
  width: 10%;
  border-radius: 40%;
}

header h2 {
  color: blue;
  text-align: center;
}

/* beginning of nav section */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
}
/* ending of nav section */

/* -- this is for the body --*/
p {
    color: black;
    font-size: 20px;
}